* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #30373ae4;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

/* blog post */
.blog {
    margin-top: 60px;
    width: 800px;
    background: whitesmoke;
    border-radius: 12px;
    border: 1px solid #a09e9e;
}

.blog-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog-img {
    width: 400px;
    height: 300px;
    transform: translateY(-35px) translateX(20px);
    box-shadow: 0px 0px 10px 2px #555;
    border-radius: 5px;
}

.blog-info {
    width: 350px;
}

.blog-info h2 {
    text-align: center;
    margin-bottom: 20px;
}


.blog-info span {
    background: #160040;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
}

.blog-info p {
    border-top: 1px solid gray;
    margin-top: 15px;
    padding: 10px;
    text-transform: capitalize;
}

.blog-reaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog-reactions {
    width: 400px;
    height: 50x;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-reactions i {
    padding: 5px 10px;
    font-size: 20px;
    transition: all 1s;
    color: #160040;
}

.blog-reactions i:hover {
    transform: scale(1.7) rotate(1turn);
}

.blog-arrow {
    width: 350px;
    text-align: right;
}

.blog-arrow i {
    transform: translateY(25px);
    background: #160040;
    border: 1px dotted #555;
    color: #fff;
    box-shadow: inset 0px 0px 10px #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 35px;
}

@media screen and (max-width:752px) {
    .blog {
        width: 500px;
    }

    .blog-body {
        justify-content: center;
    }

    .blog-img {
        width: 250px;
        height: 200px;
        transform: translateX(0) translateY(-20px);
    }
}

@media screen and (max-width:525px) {
    .blog {
        width: 98%;
    }

    .blog-body {
        justify-content: center;
    }

    .blog-img {
        transform: translateX(0) translateY(-20px);
    }
}
/* login form  */

.login {
    margin: 60px 0px;
}

.login form {
    position: relative;
    width: 400px;
    height: 400px;
    background: #1a0034;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    color: #fff;
    text-align: center;
}

.login form::after,
.login form::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
}

.login form::after {
    top: 0%;
    background: rgb(37, 116, 156);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.login form::before {
    bottom: 0%;
    background: rgb(45, 154, 66);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.loginInfo-title {
    font-size: 14px;
    margin-top: 10px;
    opacity: .6;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95px;
}
#email,#password{
    border: none;
    outline: none;
    color: #fff;
    width: 320px;
    height: 35px;
    border-radius: 15px;
    text-align: center;
    background: transparent;
    box-shadow: inset 0px 0px 4px #fff;
}

.reserve{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#remember+label{
    opacity: .7;
    font-size: 15px;
}

.btnSubmit{
    border: none;
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border-radius: 15px;
    letter-spacing: 2px;
    color: #fff;
    background: #160040;
    border: 1px solid orangered;
    transition: all 1s;
}

.btnSubmit:hover{
    transform: rotate(-10deg);
    opacity: .7;
    border-radius: 0;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}


@media screen and (max-width:525px) {
    .login form {
        max-width: 320px;
    }
    #email,#password  {
        width: 250px;
    }
}