main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.liveTodo {
  padding: 15px 30px;
  margin: 20px;
  max-width: 300px;
  font-style: italic;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.442);
  border-radius: 15px;
  line-height: 20px;
  word-wrap: break-word;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputTodo {
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 4px rebeccapurple;
  letter-spacing: 1px;
  text-align: center;
  width: 300px;
  margin: 20px;
  border-radius: 20px;
}

/* submit button  */
.submitBTN {
  height: 35px;
  cursor: pointer;
  padding: 7px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #320077;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #320077;
}

.submitBTN:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #320077;
  box-shadow: 4px 5px 17px -4px #320077;
}

.submitBTN::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #320077;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.submitBTN:hover::before {
  width: 250%;
}

/* show todos */
.todos {
  background: #00000011;
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
  width: 500px;
}

.todos li {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  font-style: italic;
  margin: 10px;
  font-weight: bold;
  border-bottom: 3px solid #fff;
  padding: 3px;
  line-height: 20px;
}

.todos li section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.complete {
  text-decoration: line-through;
}

.todos li section button:nth-child(1),
.todos li section button:nth-child(2) {
  cursor: pointer;
  border: none;
  background: purple;
  border: 2px solid purple;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
}

.todos li section button:nth-child(2) {
  border: 2px solid orangered;
  background: orangered;
  margin-left: 5px;
}

.todos li section button:nth-child(1):hover {
  transform: scale(1.1) rotate(360deg);
  border: 2px solid purple;
  background: #fff;
  color: #000;
}
.todos li section button:nth-child(2):hover {
  transform: scale(1.1) rotate(360deg);
  border: 2px solid orangered;
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 550px) {
  .todos,
  .inputTodo,
  .liveTodo {
    margin-left: 0%;
    margin-right: 0%;
    width: 95%;
  }
  .liveTodo {
    padding: 15px 10px;
  }
}
